body {
  font-family: sans-serif;
  padding: 16px;
  background: #f6f3ef;
}

h1 {
  text-align: center;
}

.item {
  background: white;
  padding: 10px;
  margin: 6px 0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

button {
  background: #6f4e37;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
}
